body {
  font-size: 16px;
  color: #000;
  font-family: "Oxygen", sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #808080;
  border-radius: 0;
  border: 0;
}

.menu {
  margin-top: 30px;
  padding-bottom: 20px;
  color: #fff;
  background: #808080;
}

.navbar-brand h1 {
  /* Restaurant name */
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.75;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #fff;
  text-align: center;
}
#nav-list a:hover {
  background: #8888;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #ffff;
}

.menu {
  border-radius: 5px;
}

@media (min-width: 1200px) {
  .section {
    width: 100%;
  }
  .row {
    margin: 0px 20px 0px 20px;
  }
}

@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
  }
  .navbar-brand h1 {
    /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  .row {
    padding: 20px;
  }

  /* End Header */
}
